<div class="mdl-layout__header-row">
    <div class="header-logo">
        <img class="large-logo" src="{{ site.baseurl }}/assets/images/contest_logo.png">
        <img class="small-logo" src="{{ site.baseurl }}/assets/images/contest_logo_s.svg">
    </div>
    <div class="header">
        <a class="site-title active" href="{{ site.baseurl }}/">
            <span class="mdl-layout-title">ALL</span>
        </a>
        <a class="site-title" href="{{ site.baseurl }}/">
            <span class="mdl-layout-title">IOT</span>
        </a>
        <a class="site-title" href="{{ site.baseurl }}/">
            <span class="mdl-layout-title">SOFTWARE</span>
        </a>
        <a class="site-title" href="{{ site.baseurl }}/">
            <span class="mdl-layout-title">HARDWARE</span>
        </a>
        <a class="site-title" href="{{ site.baseurl }}/">
            <span class="mdl-layout-title">SHADOW</span>
        </a>
    </div>
</div>