.mdl-grid {
  .mdl-cell {
    display: inline-block;
    vertical-align: middle;
    width: 240px;
    height: 290px;
    margin-top: 20px;
    margin-right: 35px;
    padding: 16px;
    &:nth-child(3n){
      margin-right: 0;
    }
    &:hover {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    }
    .mdl-card__title {
      line-height: 30px;
      color: #363638;
    }
    .mdl-card__supporting-text {
      display: -webkit-box;
      box-sizing: border-box;
      overflow-y: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      width: 100%;
      height: 50px;
      color: #b1b1b1;
      font-size: 12px;
      padding-top: 15px;
    }
    .item-footer {
      display: inline-block;
      width: 100%;
      box-sizing: border-box;
      padding: 10px 0;
      color: #2f51ff;
    }
  }
}