.site-title {
  display: inline-block;
  margin: 0;
  padding-left: 10%;
  color: $site-title-color;
  text-decoration: none;
  text-align: center;
  transition: color .3s ease-out;
  &.active {
    color: #2f51ff;
  }
  &:hover {
    color: #2f51ff;
    box-shadow: none;
  }
}